* section {
    background-color: rgb(66, 66, 66);
    border-radius: 15px;
    color: whitesmoke;
    margin: 5px;
    padding: 20px;
}
body {
    display: grid;
    grid-template: 50% 50% / 1fr 1fr 1fr;
}
section:first-child {
    grid-column: 1/3;
}
section:nth-of-type(2) {
    grid-column-start: 3;
    grid-row: 1/3;
}
